#html
{
	!background-image: url("images\rsz_2mixed-fruits.jpg");
}

#header h1
{
	color: #FF5733;
	font-size: 400%;
	text-align: right;
	letter-spacing: -2px;
	padding: 5px;
	margin-top: -20px;
	margin-bottom: -25px;
	font-family: "Cooper Black";
}

#header h2
{
	color: #DFEC63;
	font-size: 300%;
	text-align: right;
	letter-spacing: -2px;
	padding: 5px;
	margin-top: -35px;
	font-family: "Cooper Black";
}

#header h3
{
	text-align: left;
	font-family: "Cooper Black";
	margin-bottom: -18px;
	margin-left: -5px;
}

#navigation ul
{
	float: left;
	position: absolute;
	list-style-type: none;
	left: 0px;
    margin: 0;
	padding: 0;
    width: 233px;
	background-color: #e6e6e6;
	text-decoration: none;
}

#navigation li
{
	list-style-type: none;
	display: block;
	padding: 8px 16px;
    text-decoration: none;
	text-align: center;
	color: #555;
	font-family: "Cooper";
	font-size: 180%;
}

#navigation a:link
{
	margin: 0;
	display: block;
	height: 20px;
	padding: 8px 0px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

#navigation li:hover
{
	background-color: #aaff80;
}

#header img
{
	position: absolute;
	left: -8px;
}

#content
{
	font-family: "Cooper Black";
	font-size: 150%;
	margin-left: 250px;
	padding: 1px;
}

table 
{
    border-collapse: collapse;
}

td 
{
    padding-top: .5em;
    padding-bottom: .5em;
}

#container 
{
   min-height:100%;
   position:relative;
}

.footer
{
	position: fixed;
	bottom: 0;
	text-align:center;
	width:100%;
	margin-bottom: 0;
	font-family: "Cooper Black";
}

.footer:link
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color: blue;
}